.input {
  width: 100%;
  padding: 0.5rem;

  color: var(--primary-color);
  text-shadow: 0 0 0 var(--primary-color);

  border: none;

  &::placeholder {
    opacity: 0.5;
  }

  &,
  &:focus {
    outline-color: var(--primary-color);
  }
}
